@import 'nib'

.cockpit-main
  z-index 500
  position fixed
  top 0
  right 0
  left 0
  bottom 0
  background transparent

.booter
  font-size 3em
  background-color white
  color black
  display inline-block
