@import 'nib'

html, body
  margin 0
  padding 0
  height 100%
  width 100%

a
  text-decoration none
  color inherit

  &:hover, &:visited
    text-decoration none
    color inherit

.cf
  clearfix()

.blur
  filter blur(10px)
  -webkit-filter blur(10px)
