@import 'nib'

.terminal-container
  width 600px
  height 250px
  opacity 0
  background-color #222
  border 1px solid #ddd
  margin 0.25em 0 0 0.25em

  &.visible
    opacity 1
    transition opacity 1s
